// SCSS Mixins
// Reusable style mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}




@mixin reset-button {
  /* From Uiverse.io by nikk7007 */
  .bubbles {
    --c1: #212121; /* Recommendation: same background color */
    --c2: #8685ef;
    --size-letter: 32px;
    padding: 0em 1em;
    font-size: var(--size-letter);

    background-color: transparent;
    border: calc(var(--size-letter) / 6) solid var(--c2);
    border-radius: 0.2em;
    cursor: pointer;

    overflow: hidden;
    position: relative;
    transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .bubbles > .text {
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: opacity 300ms ease, transform 300ms ease;
  }

  /* Initial state */
  .bubbles > .hover {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
  }

  /* Hover state */
  .bubbles:hover > .default {
    opacity: 0;
  }

  .bubbles:hover > .hover {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  .bubbles::before {
    top: 0;
    left: 0;
  }

  .bubbles::after {
    top: 100%;
    left: 100%;
  }

  .bubbles::before,
  .bubbles::after {
    content: "";
    width: 150%;
    aspect-ratio: 1/1;
    scale: 0;
    transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(--c2);
    border-radius: 50%;

    position: absolute;
    translate: -50% -50%;
  }

  .bubbles:hover {
    & > span {
      color: var(--c1);
    }
    &::before,
    &::after {
      scale: 1;
    }
  }

  .bubbles:active {
    scale: 0.98;
    filter: brightness(0.9);
  }
}
