@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
}

.whole {
  height: 100vh;
  @include flex-center;
  background: linear-gradient(to bottom, #e0e0e0, #a0d8ef);
}

.game {
  height: 35rem;
  width: 30rem;
  background-color: white;
  @include flex-center-column;
  gap: 20px;
  border-radius: 15px;
  header {
    h1 {
      font-family: sans-serif;
      font-weight: 700;
      color: rgb(51, 51, 51);
      line-height: normal;
      font-size: 40px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    .boxes {
      height: 100px;
      width: 100px;
      @include flex-center;
      background-color: #f5f5f5;
      // transition: transform 0.4s ease, background 0.4s ease;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
      cursor: wait;
      .pwan1 {
        font-size: 50px;
      }
      .pwan2 {
        font-size: 50px;
      }
    }
    .boxes:hover {
      background: linear-gradient(to bottom, #e0e0e0, #9a63b0);
      transform: scale(1.2);
    }
  }
  .foot {
    @include flex-center-column;
    gap: 10px;
    .info {
      @include flex-center;
      .pawn1foot.remove {
        display: none;
      }
      .pawn2foot.remove {
        display: none;
      }
      h3 {
        font-family: sans-serif;
        font-weight: 400;
        color: rgb(51, 51, 51);
        line-height: normal;
        font-size: 24px;
      }
    }
    @include reset-button;
  }
}
